.header-wrapper {
    background: url("../../../assets/header.png") center/cover no-repeat;
    width: 100%;
    height: 600px;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: none;
    border-radius: 20px;
}

.header-wrapper .header-content {
    width: 50%;
    color: #fff;
    padding: 1rem;
}

.header-wrapper .header-content h1 {
    font-size: 4.0rem;
}

.header-wrapper .header-content h4 {
    font-size: 2.6rem;
}

@media screen and (max-width: 520px) {

    .header-wrapper .header-content {
        width: 100%;
    }

    .header-wrapper .header-content h1 {
        font-size: 2.8rem;
    }

    .header-wrapper .header-content h4 {
        font-size: 2rem;
    }
}