.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper .swiper-wrapper {
    flex-direction: row;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .latestRelease-card {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.swiper-slide .latestRelease-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}